<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US-SAFARICOM</title>
    <link rel="stylesheet" href="/css">



</head>

<nav style="background-color: greenyellow;text-align: right; border:black
60px;border-radius: 10px; padding: 10px; margin: 10px">



<h1 style="color: blueviolet;text-align:
center;text-decoration: underline;">NAIROBI SCHOOL WEBSITE</h1>





<a href="home.html"><button>HOME</button></a>
<a href="contactus.html" ><button>CONTACT</button></a>
<a href="aboutus.html" ><button>ABOUT</button></a>
<a href="gallery.html" ><button>GALLERY</button></a>
<a href="login.html" ><button>LOGIN</button></a>
<a href="registration.html"><button>REGISTRATION</button></a>
<hr>
    </nav>
<div class="simba">
<h3>This is about us page</h3>
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aut dolore, enim et, eveniet exercitationem neque placeat quibusdam soluta sunt tempore veritatis
    vitae? Corporis distinctio dolorum modi repellendus veritatis!</h3>

<h5>We contribute to the togetherness of Kenyans</h5>
</div>

<div class="marara">

<P>We are a leading tech firm in kenya</P>

<p>Our main objective is to connect all kenyans</p>

<p>We are cheap,reliable and affordable</p>
    </div>

<div class="chui">
<a href="https://TWITTER.com">Click here to go to twitter</a><br>
<a href="https://YOUTUBE.com">Click here to go to youtube</a><br>
    </div>

<button>SAVE</button>

<!--practice on styling-->
inline styling
internal styling
external styling



</body>
</html>