<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GALLERY</title>
    <link rel="stylesheet" href="/css/style.css">

<body style="background-color: dimgray">
<nav style="background-color: greenyellow;text-align: right; border:black
60px;border-radius: 10px; padding: 10px; margin: 10px">

    <h1 style="color: blueviolet;text-align:
center;text-decoration: underline;">NAIROBI SCHOOL WEBSITE</h1>


<a href="home.html"><button>HOME</button></a>
<a href="contactus.html" ><button>CONTACT</button></a>
<a href="aboutus.html" ><button>ABOUT</button></a>
<a href="gallery.html" ><button>GALLERY</button></a>
<a href="login.html" ><button>LOGIN</button></a>
<a href="registration.html"><button>REGISTRATION</button></a>
<hr>
</nav>
<h3>This is the Gallery Page</h3>

<img src="../resources/images/Ridvan.jpg" alt="Ridvan" width="25%" height="350vh">

<img src ="../resources/images/House.jpg" alt="HOUSE" width="25%" height="350vh">

<img src="../resources/images/child.jpg" alt="" width="25%" height="350vh">

<img src="../resources/images/diving.jpg" alt="" width="25%" height="350vh">

<img src="../resources/images/seagull.jpg" alt="" width="25%" height="350vh">

<img src="../resources/images/student.png" alt="" width="25%" height="350vh">

<img src="../resources/images/swimming.jpg" alt="" width="25%" height="350vh">

<img src="../resources/images/valentines.png" alt="" width="25%" height="350vh">

<div class="video">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/11rioDs-e64?si=ZfnMLRhoEEfwyghu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>











</body>
</html>