<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">


</head>
<body style="background-color: dimgray">
<nav style="background-color: greenyellow;text-align: right; border:black
60px;border-radius: 10px; padding: 10px; margin: 10px">



<h1 style="color: blueviolet;text-align:
center;text-decoration: underline;">NAIROBI SCHOOL WEBSITE</h1>


<a href="home.html"><button>HOME</button></a>
<a href="contactus.html" ><button>CONTACT</button></a>
<a href="aboutus.html" ><button>ABOUT</button></a>
<a href="gallery.html" ><button>GALLERY</button></a>
<a href="login.html" ><button>LOGIN</button></a>
<a href="registration.html"><button>REGISTRATION</button></a>
<hr>
    </nav>

<p style="color: darkred;text-align: center">THIS IS THE HOME PAGE</p>
<div class="ian">
<p>It has been designed by emobilis tech</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi aspernatur cumque dignissimos dolorem dolores ea eveniet fugit, illum, iusto magni pariatur quam. Delectus
    deserunt eveniet fugiat laborum qui?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut beatae distinctio error esse explicabo fuga, harum impedit in incidunt ipsam obcaecati
    optio quaerat rerum ullam ut vel voluptas voluptate.</p>
    </div>



<div class="kevo">
<a href="https://Google.com">Click here to go to google</a>
<a href="https://YOUTUBE.COM">Click here to go to youtube</a><br>
    <br><br><br><br>

</div>

<div class="dan">

<button>SAVE</button>
<br><br>
<button>DELETE</button>
<br><br>
<button>UPDATE</button>
<br><br>
<button>CANCEL</button>
<br><br>
</div>

</body>
</html>