<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
    <link rel="stylesheet" href="/css/style.css">


</head>
<body style="background-color: dimgray">
<nav style="background-color: greenyellow;text-align: right; border:black
60px;border-radius: 10px; padding: 10px; margin: 10px">





<h1 style="color: blueviolet;text-align:
center;text-decoration: underline;">NAIROBI SCHOOL WEBSITE</h1>
<a href="home.html"><button>HOME</button></a>
<a href="contactus.html" ><button>CONTACT</button></a>
<a href="aboutus.html" ><button>ABOUT</button></a>
<a href="gallery.html" ><button>GALLERY</button></a>
<a href="login.html" ><button>LOGIN</button></a>
<a href="registration.html"><button>REGISTRATION</button></a>
<hr>
    </nav>
<h3>This the registration page</h3>

<form action="">
    <fieldset style="width: 300px">

    <label>FIRST NAME:</label>
    <input type="text"><br><br>
    <label>LAST NAME:</label>
    <input type="text"><br><br>
    <label>FAMILY NAME:</label>
    <input type="text"> <br><br>
    <label>GENDER:</label><br>
    <input type="radio" id="male" name="gender" value="Male">
    <label>Male</label><br>
    <input type="radio" id="female" name="gender" value="Female">
    <label>FEMALE</label><br><br>
    <label>RESIDENCE:</label> <br>
    <input type="checkbox" id="residence1" name="Nairobi" value="NAIROBI">
    <label>NAIROBI</label><br>
    <input type="checkbox" ID="residence2" name="Mombasa" value="MOMBASA">
    <label>MOMBASA</label><br>
    <input type="checkbox">
    <label>MACHAKOS</label><br>
    <label>MARITAL STATUS</label><br>
    <select name="marital_status" id="marital_status">

        <option value="married">MARRIED</option>
        <option value="single">SINGLE</option>
        <option value="divorced">DIVORCED</option>
        <option value="complicated">COMPLICATED</option>
        <option value="open">OPEN</option>
        <option value="gay">GAY</option>













    </select><br>
    <input type="submit" value="submit">


 </fieldset>


</form>




<H5>Register below for your consideration to the event</H5>
<p>Your Name</p>
<p>Your ID Number</p>
<p>Your date of Birth</p>









</body>
</html>